@model ProjektMVP.Models.SalaKonferencyjna

<div class="editorRow">
    @Html.LabelFor(model => model.Nazwa, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Nazwa, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.LiczbaMiejsc, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.LiczbaMiejsc, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.LiczbaMiejsc, "", new { @class = "text-danger" })

</div>