@model ProjektMVP.Models.DaneHoteloweModel

@{
    ViewBag.Title = "FormularzEdycjiParametrówHotelu";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<h2>FormularzEdycjiParametrówHotelu</h2>

@using (Html.BeginForm("ZapiszDaneHotelu", "FormularzEdycjiParametrówHoteluView", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Edytuj dane hotelu</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Nazwa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nazwa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
        </div>
    </div>

   <div class="form-group">
        @Html.LabelFor(model => model.StarCount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StarCount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StarCount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="editorRows">
        <h2>Sale konferencyjne: </h2>
        @if (Model.SaleKonferencyjneModels != null)
        {
            foreach (var item in Model.SaleKonferencyjneModels)
            {
                @Html.Partial("~/Views/WidokiManageraHotelu/EdytujSalaKonferencyjnaView.cshtml", item);
                <hr />
            }
        }
    </div>

    <div id="editorRows">
        <h2>Pokoje: </h2>
        @if (Model.PokojHotelowyModels != null)
        {
            foreach (var item in Model.PokojHotelowyModels)
            {
                @Html.Partial("~/Views/WidokiManageraHotelu/EdytujPokojHotelowyView.cshtml", item);
                <hr />
            }
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}


