@model ProjektMVP.Models.PokojHotelowy

@{
    ViewBag.Title = "Formularz Zablokowania pokoju";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<h2>Odblokowanie pokoju</h2>
@using (Html.BeginForm("ZablokujPokoj", "FormularzEdycjiParametrówHoteluView", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(Model => Model.Nazwa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Nazwa, new { @readonly = "readonly", @Name = "" })
            @Html.HiddenFor(Model => Model.Nazwa)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Opis, new { @readonly = "readonly", @Name = "" })
            @Html.HiddenFor(Model => Model.Opis)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Standard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Standard, new { @readonly = "readonly", @Name = "" })
            @Html.HiddenFor(Model => Model.Standard)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Status, new { @readonly = "readonly", @Name = "" })
            @Html.HiddenFor(Model => Model.Status)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (Model.Status != ProjektMVP.Models.Interfaces.StatusPokoju.Zablokowany)
            {
                <input type="submit" value="Zablokuj" name="Zablokuj" class="btn btn-default" />
            }
            else
            {
                <h3 style="color: goldenrod">Pokój jest już zablokowany!</h3>
            }
            <input type="submit" value="Anuluj" name="Anuluj" class="btn btn-default" />
        </div>
    </div>

}

